.table {
    margin: 16px 0;
}

.cell_qr {
    width: 40px;
    vertical-align: middle;
}

.cell_size {
    width: 10em;
}

.size__wrapper {
    display: flex;
    justify-content: flex-end;
    gap: 8px;
    align-items: center;
}

.size {
    font-family: monospace;
    font-size: 1.2em;
    width: 6em;
    text-align: right;
}

.cell_delete {
    width: 24px;
}

.openFile {
    display: block;
    width: 24px;
    color: var(--c-primary-text);
}

.openFile:hover {
    color: var(--c-primary);
}


.updateFile {
    position: relative;
    width: 24px;
    height: 24px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.3s;
}

.openFile:hover {
    color: var(--c-primary);
}

.updateFile input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
}

.updateFile svg {
    user-select: none;
    width: 20px;
    height: 20px;
}
