.table {
    width: 100%;
    border-spacing: 0;
}

.row:hover .cell {
    background-color: var(--c-gray);
    border-color: var(--c-primary-light);
}

.cell {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 8px;
    transition: 0.3s;
    vertical-align: top;
}

.cell:first-of-type {
    border-left: 1px solid white;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
}

.cell:last-of-type {
    border-right: 1px solid white;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
}
