.updateFile {
    position: relative;
    transition: 0.3s;
}

.updateFile input {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    display: none;
}

.updateFile svg {
    user-select: none;
    width: 20px;
    height: 20px;
}
