.root {
    padding-top: 16px;

}

.placeholder {
    margin-top: 16px;
}

.placeholder__image {
    display: block;
    max-height: 60vh;
    margin: 0 auto;
}

.placeholder__text {
    text-align: center;
    margin: 0;
}