.button {
    all: unset;

    display: block;

    width: 24px;
    height: 24px;

    cursor: pointer;
}

.button svg {
    width: 100%;
    height: 100%;
    display: block;
}

.button:hover {
    color: var(--c-primary);
}

.button:disabled {
    opacity: 0.3;
    cursor: default;
    pointer-events: none;
}

.button:disabled:hover {
    color: unset;
}
