.placeholder__wrapper {
    position: relative;
}

.placeholder {
    width: 100%;
    top: 0;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin-top: 16px;
    transition: 0.3s visibility, 0.3s opacity;
}

.placeholder_show {
    visibility: visible;
    opacity: 1;
}

.placeholder svg {
    display: block;
    max-height: 60vh;
    margin: 0 auto;
    max-width: 100%;
}

.placeholder__text {
    text-align: center;
    margin: 0;
}
