.Button {
    background-color: var(--c-primary);
    color: white;
    padding: 16px 32px;
    min-width: 180px;
    border: none;
    cursor: pointer;
    transition: 0.2s;
    font-size: 16px;
    border-radius: 16px;
    user-select: none;
}

.Button:hover {
    background-color: var(--c-primary-button-hover);
    color: white;
}

.Button_outline {
    background-color: unset;
    border: 1px solid var(--c-primary);
    color: var(--c-primary);
}

.Button_outline:hover {
    background-color: var(--c-primary);
}